$text-decoration:  none;
$margin: 2%;
$primary-color: #333;
$secondary-color: #3399ff;
$position: absolute;
$display: none;
$text-align: center;
$card_width: 18rem;
$top_position: 0;

@mixin position_buttons{
  position: $position;
  top: $top_position;
  right: 20%
};
@mixin mass_delete{
  position: $position;
  top: $top_position;
  right: 25%;
  width: 10%;

}

a {
  color: $primary-color;
  margin-left: $margin;
}

a:hover{
  text-decoration: $text-decoration;
  color: $secondary-color;
}

#save,#apply{
  @include position_buttons;
}

#dvd-disc,#book,#furniture,.selected{
  display: $display;
}

.card{
  text-align: $text-align;
  width: $card_width;
}

.mass-delete{
  @include mass_delete;
}
