a {
  color: #333;
  margin-left: 2%;
}

a:hover {
  text-decoration: none;
  color: #3399ff;
}

#save, #apply {
  position: absolute;
  top: 0;
  right: 20%;
}

#dvd-disc, #book, #furniture, .selected {
  display: none;
}

.card {
  text-align: center;
  width: 18rem;
}

.mass-delete {
  position: absolute;
  top: 0;
  right: 25%;
  width: 10%;
}

/*# sourceMappingURL=output.css.map */
